<!DOCTYPE html>
<html lang="{{ site.lang | default: "zh-cn" }}">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>
    <header class="page-header" role="banner">
    </header>
    
    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">Copyright &copy; 2024 Kkskagvid. All Rights Reserved.</span>
      </footer>
    </main>
  </body>
</html>
